pelican_nlp/cc.de.300.bin
cc.de.300.bin.gz
utils/sample_usage.py
TODO.txt
Silvia_files/
Nils_backup/
configuration_files/config_morteza.yml
configuration_files/config_audio.yml

# Ignore build and distribution directories
build/
dist/
*.egg-info/

# Ignore compiled Python files
__pycache__/
