include README.rst
include LICENSE
include requirements.txt
include pyproject.toml
include pytest.ini
include _pelican_build.py

include CONTRIBUTING.md
include CHANGES
recursive-include docs *

recursive-include tests *
recursive-include examples *
prune examples/example_general
prune examples/example_acoustic-features

recursive-include pelican_nlp *.py *.yml *.yaml *.praat
recursive-include pelican_nlp/testing/_bundled *

global-exclude __pycache__
global-exclude *.py[cod]
global-exclude *.so
global-exclude .git*
global-exclude .DS_Store

exclude .gitignore
