#this file contains all required python packages
transformers~=4.46.3
numpy~=1.26.4
peft~=0.13.2
datasets~=2.19.1
tqdm~=4.66.5
setuptools~=75.1.0
packaging~=24.1
accelerate~=1.1.1
safetensors~=0.4.5
rouge~=1.0.1
gekko~=1.2.1
huggingface_hub~=0.24.6
pandas~=2.2.2
psutil~=6.1.0
scipy~=1.14.1
nltk~=3.8.1
spacy~=3.7.2